---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
	{%- set path = page.url -%}
	{%- if
		path
		and not page.data.draft
		and path != "/404/"
		and path != "/404.html"
		and not path.startsWith("/admin/")
		and not path.startsWith("/authors/")
		and not path.startsWith("/tags/")
	-%}
	<url>
		<loc>https://qubitblog.net{{ path }}</loc>
	</url>
	{%- endif -%}
{%- endfor -%}
</urlset>
