---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
	{%- set u = page.url -%}
	{%- if u and not page.data.draft -%}
		{%- if u != "/404/" and u != "/404.html" and (u | slice(0, 7)) != "/admin/" -%}
			{%- if (u | slice(0, 4)) == "http" -%}
				{%- set loc = u -%}
			{%- else -%}
				{%- set loc = "https://qubitblog.net" + u -%}
			{%- endif -%}
	<url>
		<loc>{{ loc }}</loc>
	</url>
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
</urlset>
