<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<div class="container header-inner">
				<div class="site-title">
					<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				</div>
				{% include "components/nav.njk" %}
			</div>
		</header>

		<main class="container">
			{{ content | safe }}
		</main>

		<footer>
			<div class="container">
				{% include "components/footer.njk" %}
			</div>
		</footer>

		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

		<script>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		</script>

	</body>

</html>
